body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  background: #FFFFFF;
}

a {
  color: red;
  text-decoration: none;
}

h1 {
  font-size: 1.750em;
}

h2 {
  font-size: 1.500em;
  color: #000000;
}

.btn {
  color: #FFFFFF;
  background: red;
  padding: 15px 30px;
  margin: 40px 0px;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #000000;
}

ul.nav {
  margin: 20px 0 0 0;
  list-style: none;
}

ul.nav li {
  float: left;
  margin-right: 40px;
}

ul.nav li a {
  color: red;
}

#intro {
  margin: 10px 0 75px 0;
}

#new-cupcakes img {
  border: 8px solid #000000;
  margin: 0 0 20px 0;
}

#featured-cupcake img {
  border: 8px solid #000000;
}

#copyright {
  border-top: 8px solid #000000;
  padding: 10px 0px;
  margin: 15px 0px;
  text-align: center;
}

.nav {
  border-bottom: 8px solid #000000;
  padding: 20px 0px;
}


